{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
    <div class="page-header-ui-content pt-10">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6" data-aos="fade-up">
                    <h1 class="page-header-ui-title">Découvrez la simplicité de l'innovation avec Aliyo</h1>
                    <p class="page-header-ui-text mb-5">Chez Aliyo, nous proposons une solution personnalisée et abordable pour toutes les entreprises. Nous nous engageons à vous fournir un résultat de qualité supérieure qui répond à vos objectifs commerciaux et à vos attentes en matière de performance.</p>
                    <a class="btn btn-teal fw-500 me-2" href="#main-presentation">
                        En savoir plus !
                        <i class="ms-2" data-feather="arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="100"><img class="img-fluid" src="{% static 'assets/img/illustrations/programming.svg' %}" /></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<section class="bg-white py-10" id="main-presentation">
    <div class="container px-5">
        <div class="row gx-5 text-center">
            <div class="col-lg-6 mb-5" data-aos="fade-right">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="monitor"></i></div>
                <h3>Site web sur mesure</h3>
                <p class="mb-0">Bénéficiez de notre expertise en matière de création de sites web, de notre engagement à satisfaire les besoins de nos clients et de notre utilisation des dernières technologies pour garantir un site web performant, moderne et 100% sur mesure.</p>
            </div>
            <div class="col-lg-6 mb-5" data-aos="fade-left">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="smartphone"></i></div>
                <h3>Application mobile de A à Z</h3>
                <p class="mb-0">Nous allons prendre en charge la création complète de votre application mobile, de la conception à la mise en œuvre, en passant par le développement et le lancement, pour garantir un résultat final sur mesure répondant à vos besoins et à vos attentes.</p>
            </div>
        </div>
    </div>
    <!-- <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div> -->
</section>
<section>
    <div id="carouselPromotion" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPromotion" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPromotion" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPromotion" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://img.freepik.com/free-vector/black-friday-sale-banner-with-limited-time-offer-details_1017-28051.jpg?w=2000" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://img.freepik.com/free-vector/geometric-halftone-banner-yellow-blue-colors_1017-37534.jpg?w=2000" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://png.pngtree.com/background/20210710/original/pngtree-taobao-mug-promotes-banner-picture-image_1043030.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromotion" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPromotion" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</section>
<section class="projects-section bg-light pt-5 pb-5" id="projects">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7" data-aos="zoom-in">
                <img class="img-fluid" src="{% static 'assets/img/logos/Aliyo_full_logo_black.png' %}" alt="..." />
            </div>
            <div class="col-lg-6" data-aos="zoom-in">
                <div class="text-center text-lg-left">
                    <h4 class="text-primary">Pourquoi choisir Aliyo ?</h4>
                    <p class="text-black-50 mb-0">En choisissant notre entreprise, vous bénéficiez de notre solide expérience dans le domaine de l'informatique et de notre collaboration avec des partenaires spécialisés. Nous utilisons notre savoir-faire pour créer des solutions digitales sur mesure qui répondent à vos exigences les plus élevées en matière de qualité et de performance.</p>
                    <div class=" pt-5 gx-5 justify-content-center text-center">
                            <a class="btn btn-primary fw-500" href="#solutions">Découvrez nos solutions !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-5">
    <div class="container">
        <div class="content-section-heading text-center" id="solutions">
            <h2 class="display-6">Nos solutions</h2>
        </div>
        <div class="row gx-0 pt-5">
            <div class="col-lg-6" data-aos="fade-right">
                <a class="portfolio-item" href="{% url 'solutions:website'%}">
                    <div class="caption caption1">
                        <div class="caption-content highlight1">
                            <div class="h2 text-white">Site web</div>
                            <p class="mb-0 small">Nous pouvons vous créer un site web professionnel, personnalisé et efficace pour votre entreprise.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" alt="..." />
                </a>
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <a class="portfolio-item" href="{% url 'solutions:mobileApp'%}">
                    <div class="caption caption2">
                        <div class="caption-content highlight2">
                            <div class="h2 text-white">Application mobile</div>
                            <p class="mb-0">Notre expertise en développement d'applications mobiles vous permet de personnaliser l'expérience client pour votre entreprise.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" alt="..." />
                </a>
            </div>
            <!--<div class="col-lg-6" data-aos="fade-up-right">
                <a class="portfolio-item" href="#!">
                    <div class="caption caption3">
                        <div class="caption-content highlight3">
                            <div class="h2 text-white">Transformation digitale</div>
                            <p class="mb-0">Notre rôle est de vous accompagner tout au long de votre transition digitale.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" alt="..." />
                </a>
            </div>
            <div class="col-lg-6" data-aos="fade-up-left">
                <a class="portfolio-item" href="#!">
                    <div class="caption caption4">
                        <div class="caption-content highlight4">
                            <div class="h2 text-white">Création de contenu</div>
                            <p class="mb-0">Notre équipe créative et expérimentée se consacre à la création du contenu digital de votre entreprise.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" alt="..." />
                </a>
            </div>-->
        </div>
    </div>
    <div class="justify-content-center pt-5 pb-5" data-aos="zoom-in">
        <div class="text-center">
            <h2 class="display-6"><strong>Ils nous font confiance</strong></h2>
        </div>
    </div>
    <div class="slider" data-aos="zoom-in">
      <div class="slide-track">
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://logos-marques.com/wp-content/uploads/2021/03/Amazon-logo.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-15.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
        <div class="slide" style="margin-left:120px">
          <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" style="padding:0 5% 0 5%;width: 100%!important;margin: auto!important;height: auto!important;" height="100" width="250" alt="" />
        </div>
      </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
<section class="bg-dark py-10">
    <div class="container px-5">
        <div class="row gx-5 my-10">
            <div class="col-lg-6 mb-5">
                <div class="d-flex h-100">
                    <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                    <div class="ms-4">
                        <h5 class="text-white">What is SB UI Kit Pro?</h5>
                        <p class="text-white-50">SB UI Kit Pro is a fully coded, responsive, Bootstrap based UI toolkit for developers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="d-flex h-100">
                    <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                    <div class="ms-4">
                        <h5 class="text-white">What can I build with SB UI Kit Pro?</h5>
                        <p class="text-white-50">Build anything you want to using this UI kit! It is flexible, multipurpose, and full of tools for you to use during development.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="d-flex h-100">
                    <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                    <div class="ms-4">
                        <h5 class="text-white">Do I get free updates?</h5>
                        <p class="text-white-50">All of Start Bootstrap's premium products will come with updates for feature additions, bugfixes, and other small updates.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex h-100">
                    <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                    <div class="ms-4">
                        <h5 class="text-white">What frameworks does it integrate with?</h5>
                        <p class="text-white-50">Our HTML based pro products are build with framework integration in mind. The compiled code is HTML and CSS, which is able to integrate with any framework.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-5 justify-content-center text-center">
            <div class="col-lg-8">
                <a class="btn btn-primary fw-500" href="{% url 'contact:contact'%}">Contactez-nous !</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}