{% extends "base.html" %}
{% load static %}

{% block title %}Qui est Aliyo ?{% endblock title %}

{% block content %}
<header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
    <div class="page-header-ui-content pt-10">
        <div class="container px-5 text-center">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-ui-title mb-3">À propos de nous !</h1>
                    <p class="page-header-ui-text">Découvrez qui nous sommes et comment nous pouvons vous aider à réussir en ligne</p>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<section class="bg-white">
	<div class="container pt-5">
		<div class="row align-items-md-center mb-5">
			<div class="col-md-12">
				<div class="lc-block text-center">
					<h2 editable="inline" class="display-5 mb-0"><b>La créativité au service de votre entreprise</b></h2>
					<p editable="inline"> Nous sommes là pour vous aider à transformer votre entreprise en ligne.<br>Découvrez comment !</p>
				</div>
			</div>
		</div>
		<div class="row align-items-md-center mb-5">
			<div class="col-md-6 pr-5" data-aos="fade-right">
				<div class="lc-block py-2">
					<span class="badge bg-dark" editable="inline">QUI SOMMES NOUS ?</span>
				</div>
				<div class="lc-block mb-4">
					<h2 editable="inline">Notre passion, votre réussite.</h2>
				</div>
				<div class="lc-block text-muted">
					<div editable="rich">
						<p> Nous sommes une entreprise spécialisée dans le développement web, les applications mobiles et la mise en ligne de votre entreprise. Nous visons à fournir à nos clients les meilleures solutions disponibles sur le marché à un prix raisonnable et abordable. Nous sommes déterminés à les accompagner dans leur transformation numérique en les aidant à tout faire en un seul endroit.</p><br/>
						<p>Nous avons réuni des professionnels expérimentés qui ont déjà fait leurs preuves dans leur domaine respectif, afin d'offrir des solutions innovantes à nos clients. Chez nous, nous croyons en la puissance du travail d'équipe et de la collaboration pour fournir les meilleurs services possibles à nos clients.</p>
						<p>Nous sommes heureux de pouvoir aider toute entreprise qui souhaite faire un pas en avant dans son développement grâce à ALIYO. Nous croyons en notre capacité à offrir des solutions sur mesure et efficaces pour soutenir les entreprises dans leur transformation numérique.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="lc-block">
					<div class="card shadow-sm border-light" data-aos="fade-down">
						<img src="{% static 'assets/img/about/srilanka2.jpg' %}" alt="Featured image 1" class="card-img-top" loading="lazy">
					</div>
				</div>
				<div class="lc-block">
					<div class="card shadow-sm border-light mt-4" data-aos="fade-up">
						<img src="{% static 'assets/img/about/srilanka1.jpg' %}" alt="Featured image 2" class="card-img-top" loading="lazy">
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 pl-sm-3 mt-3 mt-sm-0">
				<div class="lc-block">
					<div class="card shadow-sm border-light" data-aos="fade-left">
						<img src="{% static 'assets/img/about/srilanka3.jpg' %}" alt="Featured image 3" class="card-img-top" loading="lazy">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}