{% extends "base.html" %}
{% load static %}

{% block title %}Créer votre application mobile{% endblock title %}

{% block content %}
<header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
    <div class="page-header-ui-content mb-n5 pt-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center align-items-center">
                <div class="col-lg-6" data-aos="fade-right">
                    <h1 class="page-header-ui-title">Créez votre application mobile dès maintenant</h1>
                    <p class="page-header-ui-text mb-5">Notre équipe de développeurs expérimentés est là pour vous aider à transformer votre idée en une application mobile performante, adaptée à vos besoins et à vos objectifs. Avec une approche personnalisée et une écoute attentive de vos demandes, nous nous engageons à vous offrir une expérience de création d'application mobile de qualité supérieure.</p>
                </div>
                <div class="col-lg-6 z-1" data-aos="fade-left">
                    <div class="device-wrapper mx-auto mb-n15 d-none d-lg-block">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen"><img class="img-fluid z-1" src="{% static 'assets/img/mobile/header.jpeg' %}" alt=""/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-waves text-white">
        <!-- Wave SVG Border-->
        <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
            <defs>
                <style>
                    .a {
                        fill: none;
                    }
                    .b {
                        clip-path: url(#a);
                    }
                    .d {
                        opacity: 0.5;
                        isolation: isolate;
                    }
                </style>
            </defs>
            <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
            <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
            <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
            <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
            <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
        </svg>
    </div>
</header>
<section class="bg-white py-10">
    <div class="container px-5">
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="zoom-in">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="user"></i></div>
                <h3>Expérience utilisateur améliorée</h3>
                <p class="mb-0">L'expérience utilisateur est au cœur de la création d'une application mobile réussie. En améliorant cette expérience, nous veillons à ce que l'utilisateur soit en mesure de naviguer de manière intuitive dans l'application, de trouver rapidement ce qu'il recherche et de profiter d'une interface conviviale et agréable à utiliser.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="zoom-in">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="edit-3"></i></div>
                <h3>Design moderne et personnalisé</h3>
                <p class="mb-0">Nous nous assurons que chaque aspect du design est en adéquation avec votre marque et vos objectifs, tout en suivant les dernières tendances et en utilisant des couleurs et des typographies attractives. Le résultat final sera une application mobile qui se distingue par son apparence professionnelle et attrayante.</p>
            </div>
            <div class="col-lg-4" data-aos="zoom-in">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="layers"></i></div>
                <h3>Fonctionnalités avancées</h3>
                <p class="mb-0">Il s'agit d'intégrer des fonctionnalités supplémentaires à l'application pour fournir une expérience utilisateur plus riche et plus intéractive. Cela peut inclure des fonctionnalités telles que la géolocalisation, les notifications push, les formulaires en ligne, les médias sociaux intégrés, les paiements en ligne, etc.</p>
            </div>
        </div>
    </div>
</section>
<section class="text-center bg-gradient-primary-to-secondary py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center" data-aos="zoom-in">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">"Améliorez votre présence en ligne et simplifiez la vie de vos clients avec une application web moderne, fonctionnelle et sur mesure."</div>
                <img src="{% static 'assets/img/logos/Aliyo_full_logo_white.png' %}" alt="..." style="height: 3rem" />
            </div>
        </div>
    </div>
</section>
<section id="features" class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5" data-aos="fade-left">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                            	<i class="fa fa-smile icon-feature text-primary mb-5"></i>
                                <h3 class="font-alt">Expérience optimisée</h3>
                                <p class="text-muted mb-0">Optimisez votre expérience client, développez l'avenir de votre entreprise.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                            	<i class="fa fa-eye icon-feature text-primary mb-5"></i>
                                <h3 class="font-alt">Gain de visibilité</h3>
                                <p class="text-muted mb-0">Augmentez votre présence en ligne avec un gain en visibilité inégalé.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="text-center">
                            	<i class="fa fa-heart icon-feature text-primary mb-5"></i>
                                <h3 class="font-alt">Outil de fidélisation</h3>
                                <p class="text-muted mb-0">Un application mobile, pour fidéliser vos clients à long terme.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                            	<i class="fa fa-handshake icon-feature text-primary mb-5"></i>
                                <h3 class="font-alt">Engagement client</h3>
                                <p class="text-muted mb-0">Boostez votre engagement client avec une application mobile personnalisée</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0" data-aos="fade-right">
                <div class="features-device-mockup">
                    <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                <stop class="gradient-start-color" offset="0%"></stop>
                                <stop class="gradient-end-color" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="50"></circle></svg
                    ><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
                        <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect></svg
                    ><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <img class="img-fluid z-1" src="{% static 'assets/img/mobile/montagne.jpeg' %}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark py-5">
    <div class="container">
        <div class="title text-center text-white pb-5">
          <h2 class="display-6 text-white">Les phases de développement de votre application</h2>
       </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-pencil-ruler"></i></div>
                        <h3 class="title">Conception de l'application</h3>
                        <p class="description">
                            Notre équipe de conception débutera le processus en travaillant avec vous pour comprendre les objectifs de votre entreprise et les fonctionnalités nécessaires pour votre application. Nous utiliserons des outils de wireframing pour créer une maquette de l'application, permettant ainsi à notre client de visualiser l'application avant qu'elle ne soit développée.
                        </p>
                    </div>
                </div>
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-code"></i></div>    
                        <h3 class="title">Développement de l'application</h3>
                        <p class="description">
                            Une fois que la conception de l'application a été approuvée, notre équipe de développement se chargera de la développer. Nous utilisons les dernières technologies pour garantir la qualité et la performance de l'application. Nous travaillerons également en étroite collaboration avec notre client pour s'assurer que l'application répond à leurs besoins et attentes.
                        </p>
                    </div>
                </div>
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-upload"></i></div>    
                        <h3 class="title">Test et mise en production</h3>
                        <p class="description">
                            Avant de mettre en production l'application, nous la soumettrons à des tests exhaustifs pour nous assurer qu'elle fonctionne correctement sur différents appareils et plateformes. Une fois les tests terminés, nous déploierons l'application sur l'App Store ou Google Play Store et la mettrons en production.
                        </p>
                    </div>
                </div>
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-tools"></i></div>    
                        <h3 class="title">Maintenance et support</h3>
                        <p class="description">
                            Nous ne nous arrêtons pas une fois que l'application est en production. Nous fournissons une maintenance continue et un support pour nous assurer que l'application continue de fonctionner de manière optimale pour nos clients.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="bg-white py-5">
    <div class="container" data-aos="zoom-in">
        <div class="title text-center">
          <h2 class="display-6 pb-5">Rejoignez la vague du succès digital avec notre aide !</h2>
          <p>Aujourd'hui, les applications mobiles sont un outil incontournable pour les entreprises. Elles permettent de connecter les clients avec les entreprises en leur fournissant un accès facile à leurs produits et services. Chez Aliyo, nous sommes fiers de proposer une offre complète de création d'applications mobiles pour les entreprises de toutes tailles.<br/><br/>Notre équipe de conception, développement et support est composée d'experts en la matière, qui ont des années d'expérience dans la création d'applications mobiles de qualité supérieure. Nous nous engageons à offrir un excellent service à nos clients, de la conception à la mise en production de leur application.<br/><br/>Si vous êtes à la recherche d'une entreprise pour créer votre application mobile, ne cherchez plus! Chez Aliyo, nous sommes là !</p>
       </div>
    </div>
    <div class=" pt-5 gx-5 justify-content-center text-center" data-aos="zoom-in">
        <a class="btn btn-primary fw-500" href="{% url 'contact:contact'%}">Je veux mon application !</a>
    </div>
</section>
{% endblock %}