{% extends "base.html" %}
{% load static %}

{% block title %}Créer votre site web internet{% endblock title %}

{% block content %}
<header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
    <div class="page-header-ui-content mb-n5 pt-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center align-items-center">
                <div class="col-lg-6" data-aos="fade-right">
                    <h1 class="page-header-ui-title">Création de sites web professionnels pour booster votre entreprise</h1>
                    <p class="page-header-ui-text mb-5">Votre entreprise mérite un site web de qualité pour représenter votre image en ligne. Nous sommes spécialisés dans la création de sites web professionnels, conçus pour vous aider à atteindre vos objectifs commerciaux.</p>
                </div>
                <div class="col-lg-6 z-1" data-aos="fade-left">
                    <div class="mx-auto">
                        <img class="img-fluid z-1" src="{% static 'assets/img/website/header.png' %}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-waves text-white">
        <!-- Wave SVG Border-->
        <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
            <defs>
                <style>
                    .a {
                        fill: none;
                    }
                    .b {
                        clip-path: url(#a);
                    }
                    .d {
                        opacity: 0.5;
                        isolation: isolate;
                    }
                </style>
            </defs>
            <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
            <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
            <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
            <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
            <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
        </svg>
    </div>
</header>
<section class="bg-white py-10">
    <div class="container px-5">
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="zoom-in">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="code"></i></div>
                <h3>Conception de site web personnalisée</h3>
                <p class="mb-0">Nous travaillons en étroite collaboration avec vous pour comprendre votre marque et vos objectifs, puis nous créons une conception unique et fonctionnelle pour votre site web. De la création de logo à la mise en place du site en passant par la programmation, nous nous occupons de tout pour vous. </p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="zoom-in">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="trending-up"></i></div>
                <h3>Optimisation pour les moteurs de recherche (SEO)</h3>
                <p class="mb-0">Nous utilisons les dernières techniques et stratégies pour améliorer la visibilité et l'attractivité de votre site pour les moteurs de recherche. Nous vous aidons à atteindre une audience plus large et à augmenter votre trafic en ligne.</p>
            </div>
            <div class="col-lg-4" data-aos="zoom-in">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="tool"></i></div>
                <h3>Maintenance et support technique</h3>
                <p class="mb-0">Nous nous occupons de tout pour vous, de la mise à jour du contenu à la résolution des problèmes techniques. Avec notre maintenance et notre support, vous pouvez vous concentrer sur votre entreprise tout en sachant que votre site web est en de bonnes mains.</p>
            </div>
        </div>
    </div>
</section>
<section class="showcase bg-light">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" data-aos="fade-left">
                <img class="img-fluid" src="{% static 'assets/img/website/bg-showcase-1.jpg' %}" alt=""/>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text" data-aos="fade-right">
                <h2>Clé en main !</h2>
                <p class="lead mb-0">Notre objectif est de fournir un service clé en main pour la création de votre site web. Nous nous occupons de toutes les étapes, de la conception à la mise en ligne, en passant par l'optimisation SEO. Nous travaillons en étroite collaboration avec vous pour garantir que votre site répond à vos attentes. Avec notre service, vous pouvez vous concentrer sur votre entreprise et laisser les détails techniques à nous. Une expérience simple et sans stress !</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" data-aos="fade-right">
                <img class="img-fluid" src="{% static 'assets/img/website/bg-showcase-2.jpg' %}" alt="" />
            </div>
            <div class="col-lg-6 my-auto showcase-text" data-aos="fade-left">
                <h2>Une équipe expérimenté</h2>
                <p class="lead mb-0">Notre équipe est composée d'experts en informatique expérimentés dans le domaine de la création de sites web. Nous sommes passionnés par notre travail et notre expertise nous permet de créer des sites web de qualité supérieure qui répondent aux besoins de nos clients. Rejoignez notre liste de clients satisfaits et profitez de notre expérience et de notre expertise dans la création de sites web.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" data-aos="fade-left">
                <img class="img-fluid" src="{% static 'assets/img/website/bg-showcase-3.jpg' %}" alt=""/>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text" data-aos="fade-right">
                <h2>Un suivi personnalisé</h2>
                <p class="lead mb-0">Nous sommes déterminés à offrir un suivi personnalisé à nos clients tout au long de notre collaboration. Nous comprenons que chaque projet est unique et nous travaillons en étroite collaboration avec nos clients pour comprendre leurs besoins et leur offrir des solutions adaptées. Nous sommes là pour répondre à vos questions et pour vous aider à atteindre vos objectifs à chaque étape de la création de votre site web.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-5">
    <div class="container">
       <div class="title text-center" data-aos="zoom-in">
          <h2 class="display-6">Un site web adapté à vos besoins</h2>
          <p>Notre équipe est spécialisée dans la création de sites web pour tous les secteurs d'activité. Nous comprenons les besoins uniques de chaque client et nous nous efforçons de les intégrer dans chaque projet en proposant des fonctionnalités sur mesure pour répondre à leurs besoins spécifiques. Mais qui peut avoir besoin d'un site web?</p>
       </div>
       <div class="row pt-5" data-aos="zoom-in">
          <div class="col-md-12">
             <!-- Tabs with icons on Card -->
             <div class="card card-nav-tabs">
                <div class="card-header card-header-primary">
                   <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                   <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                         <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="entreprise-tab" data-bs-toggle="tab" data-bs-target="#entreprise" type="button" role="tab" aria-controls="entreprise" aria-selected="true">Entreprise</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="association-tab" data-bs-toggle="tab" data-bs-target="#association" type="button" role="tab" aria-controls="association" aria-selected="false">Association</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="restaurant-tab" data-bs-toggle="tab" data-bs-target="#restaurant" type="button" role="tab" aria-controls="restaurant" aria-selected="false">Restaurant</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="logement-tab" data-bs-toggle="tab" data-bs-target="#logement" type="button" role="tab" aria-controls="logement" aria-selected="true">Hôte de logement</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="salon-tab" data-bs-toggle="tab" data-bs-target="#salon" type="button" role="tab" aria-controls="salon" aria-selected="false">Salon de beauté</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="commune-tab" data-bs-toggle="tab" data-bs-target="#commune" type="button" role="tab" aria-controls="commune" aria-selected="false">Commune</button>
                              </li>
                        </ul>
                      </div>
                   </div>
                </div>
                <div class="card-body">
                   <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="entreprise" role="tabpanel" aria-labelledby="entreprise-tab">Une entreprise peut avoir besoin d'un site pour plusieurs raisons. Tout d'abord, un site web peut aider à renforcer la présence en ligne de l'entreprise, en permettant aux clients potentiels de trouver facilement des informations sur les produits et services offerts. Cela peut également améliorer la visibilité de l'entreprise et renforcer sa crédibilité en ligne. <br/><br/>En outre, un site web peut également être utilisé pour générer des leads, attirer de nouveaux clients et vendre des produits en ligne. Enfin, un site web peut être un outil puissant pour communiquer avec les clients existants, en leur fournissant des mises à jour sur les produits et services, en répondant à leurs préoccupations et en général pour rester en contact avec eux.</div>
                        <div class="tab-pane fade" id="association" role="tabpanel" aria-labelledby="association-tab">Un site web est essentiel pour une association afin de promouvoir ses activités, communiquer avec les membres, collecter des fonds en ligne, présenter son histoire et ses objectifs, publier des nouvelles et mises à jour, et offrir une plateforme de communication et collaboration pour les membres. Il peut également améliorer la visibilité et la crédibilité de l'association et renforcer les relations avec les donateurs, les partenaires et les communautés locales.
                        </div>
                        <div class="tab-pane fade" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">Avoir un site web pour un restaurant est crucial pour la réussite de votre entreprise. Il vous permet de promouvoir vos menus, vos heures d'ouverture et vos offres spéciales, de communiquer avec vos clients actuels et potentiels et de gérer les réservations en ligne. De plus, un site web vous permet de montrer l'atmosphère de votre restaurant et de présenter votre équipe. Il peut également vous aider à améliorer votre référencement en ligne, ce qui peut vous aider à être plus facilement trouvé par les clients potentiels.<br/><br/>En fin de compte, un site web pour votre restaurant peut vous aider à développer votre présence en ligne, à augmenter votre visibilité et à fidéliser votre clientèle.</div>
                        <div class="tab-pane fade" id="logement" role="tabpanel" aria-labelledby="logement-tab">Un site web peut jouer un rôle crucial pour les propriétaires de maisons d'hôtes ou de gîtes, car cela leur permet de se faire connaître auprès d'un public plus large et d'attirer de nouveaux clients potentiels. Il peut également faciliter la réservation en ligne, ce qui est plus pratique pour les clients et peut aider à maximiser les taux de remplissage.<br/><br/>En outre, un site web professionnel peut montrer les images de la propriété, les caractéristiques, les tarifs et les commentaires des clients, ce qui aide à rassurer les potentiels clients sur leur choix de logement. Enfin, un site web peut également aider à gérer les relations avec les clients, en leur permettant de poser des questions et de recevoir des réponses en temps réel.
                        </div>
                        <div class="tab-pane fade" id="salon" role="tabpanel" aria-labelledby="salon-tab">
                            Avoir un site web pour votre institut de beauté peut être extrêmement bénéfique pour votre entreprise. Tout d'abord, un site web vous permet de présenter votre entreprise et vos services de manière professionnelle et attrayante pour les clients potentiels. Vous pouvez également utiliser votre site web pour présenter votre gamme de produits, vos tarifs et vos horaires d'ouverture.
                            <br/><br/>De plus, un site web peut vous permettre de prendre des rendez-vous en ligne, ce qui peut faciliter la gestion de votre planning pour vous et pour vos clients. Enfin, un site web peut également vous permettre de développer votre présence en ligne et de vous faire connaître auprès d'un public plus large. En somme, un site web peut vous aider à améliorer votre visibilité, votre professionnalisme et votre productivité, ce qui peut conduire à un meilleur retour sur investissement pour votre entreprise.
                        </div>
                        <div class="tab-pane fade" id="commune" role="tabpanel" aria-labelledby="commune-tab">
                            Un site web est crucial pour une commune pour plusieurs raisons. Tout d'abord, cela permet de fournir des informations claires et accessibles aux citoyens sur les services et les activités de la commune. Cela peut inclure des informations sur les événements locaux, les projets en cours, les programmes communautaires, les avis de délibération et les résultats des élections. En outre, un site web peut également servir de plateforme pour la communication en temps réel avec les citoyens, ce qui peut aider à renforcer la transparence et la confiance dans les décisions du gouvernement local.
                            <br/><br/>De plus, un site web peut également être utilisé pour collecter des commentaires et des idées des citoyens, ce qui peut aider les autorités à prendre des décisions plus éclairées. Enfin, un site web bien conçu peut aider à améliorer la visibilité de la commune auprès de la population locale et des personnes à la recherche d'une communauté à rejoindre.
                        </div>
                    </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</section>
<section class="bg-dark py-5">
    <div class="container">
        <div class="title text-center text-white pb-5">
          <h2 class="display-6 text-white">Les étapes clés pour créer votre site web !</h2>
       </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-pencil-ruler"></i></div>
                        <h3 class="title">Création des maquettes</h3>
                        <p class="description">
                            La première étape dans la création de votre site consiste à élaborer une maquette qui reflète vos besoins et vos attentes. Lors de notre réunion, nous allons travailler en étroite collaboration avec vous pour comprendre votre vision, vos objectifs, et les fonctionnalités nécessaires pour votre site.
                        </p>
                    </div>
                </div>
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-code"></i></div>    
                        <h3 class="title">Développement du site</h3>
                        <p class="description">
                            Le développement du site consiste à traduire la maquette approuvée en une version fonctionnelle et interactive, en utilisant des technologies telles que HTML, CSS et JavaScript. Cette étape implique la programmation et l'intégration de fonctionnalités telles que la gestion du contenu, la création de formulaires, l'optimisation pour les moteurs de recherche, etc.
                        </p>
                    </div>
                </div>
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-clipboard-check"></i></div>    
                        <h3 class="title">Revue avec le client</h3>
                        <p class="description">
                            La première revue avec le client est une étape cruciale dans la création de votre site web. C'est l'occasion pour vous de présenter les designs et la structure du site que vous avez créés en fonction des demandes du client. Le client peut alors donner ses commentaires et faire des suggestions pour les améliorer.
                        </p>
                    </div>
                </div>
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-check-double"></i></div>    
                        <h3 class="title">Prise en compte des améliorations</h3>
                        <p class="description">
                            Lors de la prochaine étape, nous prendrons en compte les commentaires et suggestions de votre part pour améliorer le site. Nous nous assurerons que toutes vos demandes sont prises en compte pour garantir que le site répond à vos attentes et besoins.
                        </p>
                    </div>
                </div>
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-clipboard-check"></i></div>    
                        <h3 class="title">Revue finale avec le client</h3>
                        <p class="description">
                            Lors de la validation finale, nous allons vous présenter le site web complet pour vous assurer qu'il répond à toutes vos attentes et exigences. Cette étape est cruciale car elle vous permet de vérifier que tout est conforme à ce que vous avez demandé et de faire des commentaires pour tout ajustement supplémentaire. Nous voulons nous assurer que vous êtes entièrement satisfait du produit final avant de le lancer publiquement.
                        </p>
                    </div>
                </div>
                <div class="timeline" data-aos="zoom-in">
                    <div class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-upload"></i></div>    
                        <h3 class="title">Déploiement du site</h3>
                        <p class="description">
                            La dernière étape consiste à déployer le site, le rendre accessible au public et assurer son fonctionnement optimal.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="bg-white py-5">
    <div class="container" data-aos="zoom-in">
        <div class="title text-center">
          <h2 class="display-6 pb-5">Rejoignez la vague du succès digital avec notre aide !</h2>
          <p>Vous voulez être visible sur internet et attirer de nouveaux clients potentiels pour votre entreprise? N'attendez plus pour construire un site web professionnel avec nous! Avec notre équipe expérimentée et notre processus éprouvé, nous sommes là pour vous guider à chaque étape de la construction de votre site.<br/><br/>Rejoignez les nombreux clients satisfaits qui ont choisi notre service pour améliorer leur présence en ligne. Prenez rendez-vous avec nous dès aujourd'hui et découvrez comment nous pouvons vous aider à atteindre vos objectifs en ligne.</p>
       </div>
    </div>
    <div class=" pt-5 gx-5 justify-content-center text-center" data-aos="zoom-in">
        <a class="btn btn-primary fw-500" href="{% url 'contact:contact'%}">Je veux créer mon site !</a>
    </div>
</section>

{% endblock %}