{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{% block description %}Créez votre site web professionnel facilement avec ALIYO. Notre solution de création de site web offre un accompagnement personnalisé et des fonctionnalités sur mesure. Découvrez nos offres dès maintenant.{% endblock description %}"/>
        <meta name="author" content="Aliyo" />
        <title>{% block title %}Créez votre site web professionnel avec notre solution de création sur mesure - ALIYO{% endblock title %}</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logos/Aliyo_logo_Black.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!--Google Recaptcha-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
        <script>
          grecaptcha.ready(function() {
              $('#contactForm').submit(function(e){
                  var form = this;
                  e.preventDefault()
                  grecaptcha.execute('{{ site_key }}', {action: 'contactform'}).then(function(token) {
                      $('#recaptcha').val(token)
                      form.submit()
                  });
              })

          });
        </script>
        <!--Google Recaptcha END-->
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
                        <div class="container px-5">
                            <a class="navbar-brand" href="{% url 'home:home'%}"><img class="img-responsive" src="{% static 'assets/img/logos/Aliyo_full_logo_white.png' %}" width="140px" height="70px" alt="Logo Aliyo"/></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto me-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'home:home'%}">Accueil</a></li>
                                    <li class="nav-item dropdown dropdown-xl no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Solutions
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up" aria-labelledby="navbarDropdownPages">
                                            <div class="row g-0">
                                                <!--<div class="col-lg-4 p-lg-5">-->
                                                <div class="col-lg-6 p-lg-4">
                                                    <h6 class="dropdown-header text-primary"><a href="{% url 'solutions:website'%}">Site web</a></h6>
                                                    <a class="dropdown-item" href="{% url 'solutions:website'%}">Création de Site Web</a>
                                                    <div class="dropdown-divider border-0"></div>
                                                    <!--<h6 class="dropdown-header text-primary"><a href="{% url 'solutions:mobileApp'%}">Application mobile</a></h6>
                                                    <a class="dropdown-item" href="{% url 'solutions:mobileApp'%}">Création d'application mobile</a>
                                                    <div class="dropdown-divider border-0"></div>-->
                                                    <!--<h6 class="dropdown-header text-primary">Transformation digitale</h6>
                                                    <a class="dropdown-item" href="page-help-center.html">Intelligence artificielle</a>
                                                    <a class="dropdown-item" href="page-help-center.html">Robots RPA</a>
                                                    <a class="dropdown-item" href="page-help-center.html">Services cloud</a>
                                                    <div class="dropdown-divider border-0"></div>-->
                                                </div>
                                                <!--<div class="col-lg-4 p-lg-5">-->
                                                <div class="col-lg-6 p-lg-4">
                                                    <h6 class="dropdown-header text-primary"><a href="{% url 'solutions:mobileApp'%}">Application mobile</a></h6>
                                                    <a class="dropdown-item" href="{% url 'solutions:mobileApp'%}">Création d'application mobile</a>
                                                    <div class="dropdown-divider border-0"></div>
                                                    <!--<h6 class="dropdown-header text-primary">Création de contenu</h6>
                                                    <a class="dropdown-item" href="page-careers-overview.html">Création de logo</a>
                                                    <a class="dropdown-item" href="page-careers-listing.html">UX design</a>
                                                    <a class="dropdown-item" href="page-careers-listing.html">Rédaction de contenu</a>
                                                    <a class="dropdown-item" href="page-careers-listing.html">Photo & Vidéo professionnelle</a>
                                                    <a class="dropdown-item" href="page-careers-listing.html">Développement de marque</a>
                                                    <a class="dropdown-item" href="page-careers-listing.html">Infographie</a>
                                                    <div class="dropdown-divider border-0"></div>
                                                </div>-->
                                                <!--<div class="col-lg-4 p-lg-5">
                                                    <h6 class="dropdown-header text-primary">Marketing digital</h6>
                                                    <a class="dropdown-item" href="page-error-400.html">Services SEO</a>
                                                    <a class="dropdown-item" href="page-error-401.html">Campagne publicitaire</a>
                                                    <a class="dropdown-item" href="page-error-404-1.html">Campagne d'emailing</a>
                                                </div>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'pricing:pricing'%}">Tarifs</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'contact:about'%}">À propos</a></li>
                                </ul>
                                <a class="btn fw-500 ms-lg-4 btn-teal" href="{% url 'contact:contact'%}">
                                    Contactez-nous !
                                    <i class="ms-2" data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </nav>
                    <hr class="m-0" />
                    {% block content %}{% endblock %}
                </main>
            </div>       
            <div id="layoutDefault_footer">
                <footer class="footer pt-5 mt-auto bg-light footer-light">
                    <div class="container px-5">
                        <div class="row gx-5">
                            <div class="col-lg-3">
                                <a class="navbar-brand" href="{% url 'home:home'%}"><img class="img-responsive" src="{% static 'assets/img/logos/Aliyo_full_logo_black.png' %}" width="100px" height="50px" alt="Logo Aliyo"/></a>
                                <div class="icon-list-social mb-5">
                                    <a class="icon-list-social-link" href="https://www.linkedin.com/company/aliyo/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <!--<a class="icon-list-social-link" href="#!"><i class="fab fa-instagram"></i></a>-->
                                    <a class="icon-list-social-link" href="https://www.facebook.com/profile.php?id=100090741787608" target="_blank"><i class="fab fa-facebook"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row gx-5">
                                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Plan de site</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="{% url 'home:home'%}">Accueil</a></li>
                                            <li class="mb-2"><a href="{% url 'solutions:website'%}">Créer un site</a></li>
                                            <li class="mb-2"><a href="{% url 'solutions:mobileApp'%}">Créer une application</a></li>
                                            <li class="mb-2"><a href="{% url 'pricing:pricing'%}">Tarifs</a></li>
                                            <li><a href="{% url 'contact:about'%}">À propos</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Entreprise</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="{% url 'contact:about'%}">À propos</a></li>
                                            <li><a href="{% url 'contact:contact'%}">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="text-uppercase-expanded text-xs mb-4">Juridique</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="{% url 'home:legalNotice'%}">Mentions légales</a></li>
                                            <li><a href="{% url 'home:privacyPolicy'%}">Politique de confidentialité</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-3" />
                        <div class="row pb-3 gx-5 align-items-center">
                            <div class="col-md-6 small">Copyright &copy; Aliyo 2023</div>
                            <div class="col-md-6 text-md-end small">
                                <a href="{% url 'home:legalNotice'%}">Mentions légales</a>
                                &middot;
                                <a href="{% url 'home:privacyPolicy'%}">Politique de confidentialité</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 400,
                once: true,
            });
        </script>
    </body>
</html>
